* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50vw, 1fr));
  place-items: center;
  justify-items: center;
  align-content: center;
  height: 500px;
  width: auto;
}

.box {
  border: 2px solid black;
  width: 200px;
  height: 200px;
}
