html {
  font-family: "Google Sans", sans-serif;
}

header {
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: gray;
  color: white;
}

main {
  display: flex;
  justify-content: space-evenly;
}

div {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
}

aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(255, 30, 0);
}

nav {
  background-color: bisque;
  text-align: center;
  align-items: center;
  color: black;
}

.billy {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
