<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMC</title>
  </head>
  <body>
    <form action="" method="get">
      <span>Qual seu peso?</span>
      <input type="text" name="peso" id="peso" step="any" />
      <span>Qual sua altura?</span>
      <input type="text" name="altura" id="altura" step="any" />
      <input type="submit" value="Enviar" />
    </form>

    {{ IMC_tela }}
  </body>
</html>
