body {
  background-image: url(https://w0.peakpx.com/wallpaper/949/459/HD-wallpaper-scarlet-witch-full-power-mode-wandavision.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

section {
  display: flex;
}

.box {
  width: 200px;
  height: 100px;
  background-color: gray;
  padding: 20px;
  margin: 10px;
  border: 5px groove black;
  box-shadow: 10px 10px 20px gray;
}

.box2 {
  width: 200px;
  height: 100px;
  background-color: lightblue;
  padding: 20px;
  margin: 10px;
  border: 5px solid;
  border-color: lightgreen;
  box-sizing: border-box;
  box-shadow: 20px 20px 20px gray;
}

.box3 {
  width: 200px;
  height: 100px;
  background-color: lightcoral;
  padding: 20px;
  margin: 10px;
  border: 5px solid;
  border-color: lightseagreen;
  box-sizing: content-box;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: grey;
  border: 5px groove black;
  box-shadow: 10px 10px 15px gray;
}

.circle2 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: lightblue;
  border: 5px outset black;
}

.circle3 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: lightcoral;
  border: 5px inset black;
}

.circle4 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: lightslategray;
  border: 5px ridge black;
}

.circle5 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: lightcyan;
  border: 5px double black;
}

.circle6 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: lightsteelblue;
  border: 5px dotted black;
}

.circle7 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: lightpink;
  border: 5px dashed black;
}

.circle8 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: lightsalmon;
  border: 5px solid black;
  box-shadow: 10px -10px 20px lightsalmon;
}
