table,
tr,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 8px;
}

h1 {
  text-align: center;
}

.tabelas {
  display: flex;
  justify-content: center;
  gap: 10px;
}

html {
  font-family: "Google Sans", sans-serif;
}

.agenda {
  padding: 20px;
  border-radius: 10px;
}
