html {
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: gray;
  overflow: hidden;
  color: white;
}

main {
  display: flex;
  flex-flow: row wrap;
}

.formCadastro {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background: linear-gradient(90deg, black, rgb(20, 20, 20));
  color: white;
  padding: 20px;
  margin: 30px;
  border-radius: 8px;
}

.formLogin {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background: linear-gradient(90deg, black, rgb(20, 20, 20));
  color: white;
  padding: 20px;
  margin: 30px;
  border-radius: 8px;
}

input {
  height: 25px;
  border-radius: 8px;
  border: none;
}

#cadastro {
  width: 10vw;
  height: 5vh;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  border: none;
  background-color: lightgray;
}

#cadastro:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#box {
  transform: scale(1.5);
}

#termos {
  display: flex;
  gap: 10px;
  align-items: center;
}

#feminino,
#masculino {
  display: flex;
  gap: 10px;
  align-items: center;
}

.media {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  margin-top: 25px;
}
