html {
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: gray;
  overflow: hidden;
  color: white;
}

table,
th,
tr,
td {
  border: 2px solid black;
  padding: 8px;
  border-collapse: collapse;
  margin: 10px;
}

.tabelas {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.agenda {
  display: flex;
  padding: 20px;
  border-radius: 10px;
  width: 80vw;
  margin-left: 8vw;
}
