header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  font-family: "Google Sans", sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
}

main {
  display: flex;
}

.frases {
  padding-left: 10px;
  padding-top: 10px;
}

.listas {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

li {
  text-decoration: none;
  list-style: none;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
}

li:hover {
  background-color: lightgray;
  border-radius: 5px;
  padding: 8px;
}

a {
  text-decoration: none;
  color: black;
}

.artigos {
  display: flex;
  flex-flow: row wrap;
}

aside {
  width: 25vw;
  margin-left: 30px;
  align-items: center;
  text-align: center;
}

#botao {
  color: lightblue;
}

#imagem {
  color: lightcoral;
}
